section
    div.row
        h2 KEPRIBADIAN
    div.row
         img(src="img/personality.jpg" width="70%" height="80%")
    div.row
        p.text-justify Kepribadian adalah keseluruhan cara seorang individu bereaksi dan berinteraksi dengan individu lain. Kepribadian paling sering dideskripsikan dalam istilah sifat yang bisa diukur yang ditunjukkan oleh seseorang.

section
    div.row
        h3 Kepribadian
    div.row
        p.text-justify Organisasi Dinamis di dalam Individu yang terdiri dari sistem-sistem Psikofisik yang menentukan tingkah laku dan pikirannya secara Karakteristik dalam menyesuaikan diri terhadap Lingkungan. (G. Allport).
section
    div.row
        h2 Tipe Kpribadian
    div.row
        ol.text-left
                li Sanguinis → dijuluki si "Populer" karena pandai persuasif dan ingin terkenal.
                li Koleris → dijuluki si "Kuat" karena sering dominan dan kompetitif.
                li Melankolis → dijuluki si "Sempurna" karena perfeksionis dan serba teratur.
                li Plegmatis → dijuluki si "Cinta Damai" karena kesetiaannya dan menghindari konflik.
section
    div.row
      h2 Sanguinis
    div.row
        img.img-responsive(src="img/sanguinis.jpg")
section
    div.row
        h2 Sanguinis
        h3 Kekuatan :
        ol.text-left
                li Suka bicara.
                li Secara fisik memegang pendengar, emosional dan demonstratif.
                li Antusias dan ekspresif.
                li Ceria dan penuh rasa ingin tahu.
                li Hidup di masa sekarang.
                li Mudah berubah (banyak kegiatan / keinginan).
                li Berhati tulus dan kekanak-kanakan.
                li Senang kumpul dan berkumpul (untuk bertemu dan bicara).
                li Umumnya hebat di permukaan.
section
  div.row
      h3 Kelemahan :
      ol.text-left
                li Suara dan tertawa yang keras (bahkan terlalu keras).
                li Membesar-besarkan suatu hal / kejadian.
                li Susah untuk diam.
                li Mudah ikut-ikutan atau dikendalikan oleh keadaan atau orang lain (suka ikutan Gank).
                li Sering minta persetujuan, termasuk hal-hal yang sepele.
                li RKP (Rentang Konsentrasi Pendek) alias pelupa.
                li Dalam bekerja lebih suka bicara dan melupakan kewajiban (awalnya saja antusias).
                li Mudah berubah-ubah.
                li Susah datang tepat waktu jam kantor.
                li Prioritas kegiatan kacau.
section
    div.row
      h2 Koleris
    div.row
        img.img-responsive(src="img/koleris.jpg")
section
    div.row
        h2 Koleris
        h3 Kekuatan :
        ol.text-left
                li Senang memimpin, membuat keputusan, dinamis dan aktif.
                li Sangat memerlukan perubahan dan harus mengoreksi kesalahan.
                li Berkemauan keras dan pasti untuk mencapai sasaran/ target.
                li Bebas dan mandiri.
                li Berani menghadapi tantangan dan masalah.
                li "Hari ini harus lebih baik dari kemarin, hari esok harus lebih baik dari hari ini".
                li Mencari pemecahan praktis dan bergerak cepat.
                li Mendelegasikan pekerjaan dan orientasi berfokus pada produktivitas.
                li Membuat dan menentukan tujuan.
section
  div.row
      h3 Kelemahan :
      ol.text-left
                li Tidak sabar dan cepat marah (kasar dan tidak taktis).
                li Senang memerintah.
                li Terlalu bergairah dan tidak/susah untuk santai.
                li Menyukai kontroversi dan pertengkaran.
                li Terlalu kaku dan kuat/ keras.
                li Tidak menyukai air mata dan emosi tidak simpatik.
                li Tidak suka yang sepele dan bertele-tele / terlalu rinci.
                li Sering membuat keputusan tergesa-gesa.
                li Memanipulasi dan menuntut orang lain, cenderung memperalat orang lain.
                li Menghalalkan segala cara demi tercapainya tujuan.
                li Workaholics (cinta mati dengan pekerjaan).
section
    div.row
      h2 Melankolis
    div.row
        img.img-responsive(src="img/melankolis.jpg")
section
    div.row
        h2 Melankolis
        h3 Kekuatan :
        ol.text-left
                li Analitis, mendalam, dan penuh pikiran.
                li Serius dan bertujuan, serta berorientasi jadwal.
                li Artistik, musikal dan kreatif (filsafat & puitis).
                li Sensitif.
                li Mau mengorbankan diri dan idealis.
                li Standar tinggi dan perfeksionis.
                li Senang perincian/memerinci, tekun, serba tertib dan teratur (rapi).
                li Hemat.
                li Melihat masalah dan mencari solusi pemecahan kreatif (sering terlalu kreatif).
section
  div.row
      h3 Kelemahan :
      ol.text-left
                li Cenderung melihat masalah dari sisi negatif (murung dan tertekan).
                li Mengingat yang negatif & pendendam.
                li Mudah merasa bersalah dan memiliki citra diri rendah.
                li Lebih menekankan pada cara daripada tercapainya tujuan.
                li Tertekan pada situasi yg tidak sempurna dan berubah-ubah.
                li Melewatkan banyak waktu untuk menganalisa dan merencanakan.
                li Standar yang terlalu tinggi sehingga sulit disenangkan.
                li Hidup berdasarkan definisi.
                li Sulit bersosialisasi (cenderung pilih-pilih).
section
    div.row
      h2 Plegmatis
    div.row
        img.img-responsive(src="img/plegmatis.jpg")
section
    div.row
        h2 Plegmatis
        h3 Kekuatan :
        ol.text-left
                li Mudah bergaul, santai, tenang dan teguh.
                li Sabar, seimbang, dan pendengar yang baik.
                li Tidak banyak bicara, tetapi cenderung bijaksana.
                li Simpatik dan baik hati (sering menyembunyikan emosi).
                li Kuat di bidang administrasi, dan cenderung ingin segalanya terorganisasi.
                li Penengah masalah yg baik.
                li Cenderung berusaha menemukan cara termudah.
                li Baik di bawah tekanan.
  div.row
      h3 Kelemahan :
      ol.text-left
                li Kurang antusias, terutama terhadap perubahan/ kegiatan baru.
                li Takut dan khawatir.
                li Menghindari konflik dan tanggung jawab.
                li Keras kepala, sulit kompromi (karena merasa benar).
                li Terlalu pemalu dan pendiam.
                li Humor kering dan mengejek (Sarkatis).
                li Kurang berorientasi pada tujuan.
                li Sulit bergerak dan kurang memotivasi diri.
                li Lebih suka sebagai penonton daripada terlibat.
                li Tidak senang didesak-desak.


 