doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title SUARA RAKYAT

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h2 Tugas Projek
        h2 Teknik Kolaborasi Pengembangan Perangkat Lunak
        u1
        Nama Anggota Kelompok :
        li M. Dwi Aulia Akbar (161112006)
        li M. Febriansyah Dalimunthe (161112766)
        li Ken Thomas (161113931)
        li Sokhifahuwu Ndruru (161112600)
        

      section
        h1 SUARA RAKYAT
        img(src="images/logo.jpg")

      section
        h2 Tampilan Home
        img(src="images/2-home.png")

      section
        h2 Tampilan Sign In
        img(src="images/3-Sign In.png")

      section
        h2 Tampilan Sign Up
        img(src="images/4-Sign Up.png")

      section
        h2 Tampilan Profile Biodata
        img(src="images/5-Profile Biodata.png")

      section
        h2 Tampilan Profile Contact Person
        img(src="images/6-Profile Contact Person.png")

      section
        h2 Tampilan List Menu
        img(src="images/7-List Menu.png")

      section
        h2 Tampilan Petisi Lainnya - Terbaru
        img(src="images/8-Petisi Lainnya - Terbaru.png")

      section
        h2 Tampilan Petisi Lainnya - Terpopuler
        img(src="images/9-Petisi Lainnya - Terpopuler.png")

      section
        h2 Tampilan Create Petisi - Step 1
        img(src="images/10-Create Petisi - Step 1.png")

      section
        h2 Tampilan Create Petisi - Step 2
        img(src="images/11-Create Petisi - Step 2.png")

      section
        h2 Tampilan Create Petisi - Step 3
        img(src="images/12-Create Petisi - Step 3.png")

      section
        h2 Tampilan Create Petisi - Step 4
        img(src="images/13-Create Petisi - Step 4.png")

      section
        h2 Tampilan Laporan Selesai
        img(src="images/14-Laporan Selesai.png")

      section
        h2 Tampilan Kategori
        img(src="images/15-Kategori.png")

      section
        h2 Tampilan Hotline
        img(src="images/16-Hotline.png")

      section
        h2 Tampilan Pengaturan - Umum
        img(src="images/17-PENGATURAN - UMUM.png")

      section
        h2 Tampilan Pengaturan - Tentang
        img(src="images/18-PENGATURAN - Tentang.png")

      section
        h2 Tampilan Pengaturan - Tentang Kami
        img(src="images/19-PENGATURAN - Tentang Kami.png")

      section
        h2 Tampilan PENGATURAN - Tim Kami
        img(src="images/20-PENGATURAN - Tim Kami.png")

      section
        h2 Tampilan Petisi Lainnya - Wilayah
        img(src="images/21-Petisi Lainnya - Wilayah.png")

    script(src='build/build.js')
